.flex-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.c-pointer {
  cursor: pointer;
}
.v-p-center,
.h-p-center {
  position: absolute;
}
.v-p-center {
  top: 50%;
  transform: translateY(-50%);
}
.h-p-center {
  left: 50%;
  transform: translateX(-50%);
}