/* Start Variables */
:root {
  --main-color: orange;
  --main-links-color: white;
  --main-links-hover-color: blue;
}
/* End Variables */
/* Start Global rules */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  -webkit-scroll-behavior: smooth;
  -moz-scroll-behavior: smooth;
  scroll-behavior: smooth;
}
body {
  font-family: 'Open Sans', sans-serif;
  background-color: burlywood;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
/* Small Screen */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium Screen */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large Screen */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* End Global rules */
/* Start Header */

header .container {
  position: relative;
  min-height: 97.1px;
}
header .container::after {
  content: "";
  position: absolute;
  width: calc(100% - 30px);
  height: 1px;
  background-color: white;
  bottom: 0;

}
header .container .logo{
  height: 40px;
}
header  nav {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;

}
header  nav .toggle-menu {
  font-size: 20px;
  color: var(--main-links-color);
}
@media (min-width: 768px) {
  header  nav .toggle-menu {
    display: none;
  }
}

header .container  nav ul  {
  display: flex;
  
}
@media(max-width: 767px) {
  header .container  nav {
    justify-content: flex-end;
  }
  header .container  nav ul {
    display: none;
  }
  
  
}
header .container  nav ul li a {
  display: block;
  color: var(--main-links-color);;
  font-size: 14px;
  padding: 40px 10px;
  text-transform: uppercase;
}
header .container  nav ul li a.active,
header .container  nav ul li a:hover {
  color:var(--main-links-hover-color);
}
header .container  nav ul li a.active,
header .container  nav ul li a:hover {
  position:relative;
  z-index: 1;
  border-bottom: 1px solid var(--main-links-hover-color);
}
header .form {
  height: 30px;
  width: 40px;
  border-left: 1px solid var(--main-links-color);;
  position: relative;
}
@media(max-width: 767px) {
  header .form {
    margin-left: 25px;
  }
}
header .form i {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
  color: var(--main-links-color);
}
/* End Header */