/* Start Variables */
:root {
  --main-color: #19c8fa;
  --main-links-color: white;
  --main-links-hover-color: #19c8fa;
  --transparent-color: rgb(15 116 143 / 70%);
  --selection-color: black;
  --section-padding: 100px;
  --main-paragraph-color: #777;
}
::selection {
  background-color: var(--selection-color);
}
/* End Variables */
/* Start Components */
  /*  Start main-heading component */
.main-heading {
  text-align: center;
  margin-bottom: 100px;
}
.main-heading .main-heading-title {
  text-transform: uppercase;
  font-weight: normal;
  font-size: 36px;
  margin-bottom: 40px;
  position: relative;
}
.main-heading .main-heading-title::before,
.main-heading .main-heading-title::after
{
  --circle-border-color: #333;
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.main-heading .main-heading-title::before {
  height: 2px;
  width: 120px;
  background-color: var(--circle-border-color);
  bottom: -16px;
}
.main-heading .main-heading-title::after {
  --circle-size: 16px;
  width: var(--circle-size);
  height: var(--circle-size);
  border: 2px solid var(--circle-border-color);
  border-radius: 50%;
  background: white;
  bottom: calc(-16px - var(--circle-size) / 2);

}
.main-heading .main-heading-desc {
  color: var(--main-paragraph-color);
  width: 500px;
  max-width: 100%;
  margin: 0 auto;
  line-height: 2;
}
  /*  End main-heading component */


/* End Components */
/* Start Global rules */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  -webkit-scroll-behavior: smooth;
  -moz-scroll-behavior: smooth;
  scroll-behavior: smooth;
}
body {
  font-family: 'Open Sans', sans-serif;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
/* Small Screen */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium Screen */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large Screen */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* End Global rules */
/* Start Header */
header {
  position: absolute;
  z-index: 2;
  left: 0;
  width: 100%;
}
header .container {
  position: relative;
  min-height: 97.1px;
}
header .container::after {
  content: "";
  position: absolute;
  width: calc(100% - 30px);
  height: 1px;
  background-color: white;
  bottom: 0;

}
header .container a {
  font-size: 0; /* To fix font-size of image problem */
}
header .container a .logo{
  height: 40px;
}
header  nav {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;

}
header  nav .toggle-menu {
  font-size: 20px;
  color: var(--main-links-color);
}
header  nav .toggle-menu:hover {
  color: var(--main-links-hover-color);
}
@media (min-width: 768px) {
  header  nav .toggle-menu {
    display: none;
  }
}

header .container  nav ul  {
  display: flex;
  
}
@media(max-width: 767px) {
  header .container  nav {
    justify-content: flex-end;
  }
  header .container  nav ul {
    display: none;
  }
}
header .container  nav ul li a {
  display: block;
  color: var(--main-links-color);;
  font-size: 14px;
  padding: 40px 10px;
  text-transform: uppercase;
}
header .container  nav ul li a.active,
header .container  nav ul li a:hover {
  color:var(--main-links-hover-color);
}
header .container  nav ul li a.active,
header .container  nav ul li a:hover {
  position:relative;
  z-index: 1;
  border-bottom: 1px solid var(--main-links-hover-color);
}
header .form {
  height: 30px;
  width: 40px;
  border-left: 1px solid var(--main-links-color);;
  position: relative;
}
header .form .search-icon:hover {
  color: var(--main-links-hover-color);
}
@media(max-width: 767px) {
  header .form {
    margin-left: 25px;
  }
  header  nav .toggle-menu:hover + ul {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
  }
  header  nav .toggle-menu:hover + ul li a{
    padding: 20px;
  }
}
header .form i {
  right: 0;
  font-size: 20px;
  color: var(--main-links-color);
}
/* End Header */
/* Start Landing section */
.landing {
  min-height: 100vh;
  background-color: azure;
  background-image: url(../images/landing.jpg);
  background-size: cover;
  position: relative;
}
.landing .overlay {
  position:absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 40%);
}
.landing .text {
  width: 60%;
  left: 0;
  padding: 40px;
  display: flex;
  justify-content: flex-end;
  background-color: var(--transparent-color);
  color: white;
}
.landing .text .text-content {
  max-width: 500px;
}
@media (max-width: 767px) {
  .landing .text {
    width: 100%;
  }
  .landing .text .text-content {
    max-width: 100%;
  }
}
.landing .text .text-content .landing-title {
  font-size: 25px;
  text-transform: uppercase;
  font-weight: normal;
  line-height: 1.6;
  margin-bottom: 20px;
}
.landing .text .text-content .landing-desc {
  font-size: 14px;
  line-height: 1.7;
}
.landing .change-background {
  color: white;
}
.landing .change-background:hover {
  color: var(--main-links-hover-color);
}
@media (max-width: 767px) {
  .landing .change-background {
    display: none;
  }
}
.landing  i:first-of-type {
  left: 15px;
}
.landing  i:last-of-type {
  right: 15px;
}
.landing .bullets {
  bottom: 30px;
  display: flex;
  width: 110px;
  justify-content: space-around;
}
.landing .bullets li {
  width: 20px;
  height: 20px;
  border: 1px solid white;
  border-radius: 50%;
  transition: 0.3s;
}
.landing .bullets li:hover,
.landing .bullets li.active {
  border-color: var(--main-color);
  background-color: var(--main-color);
}
/* End Landing section */
/* Start Services section */
.services {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}
.services .services-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 70px;
}
.services .services-container .col .services-content {
  margin-bottom: 60px;
  display: flex;
}
.services .services-container .col .services-content i {
  flex-basis: 130px;
}
.services .services-container .col .services-content .services-text {
  flex: 1;
}
@media (max-width: 767px) {
  .services .services-container {
    gap: 50px;
  }
  .services .services-container .col .services-content {
    flex-direction: column;
    text-align: center;
  }
  .services .services-container .col .services-content i {
    flex-basis: 70px;
  }
}
.services .services-container .col .services-content .services-text h3 {
  font-weight: bold;
  color: var(--main-color);
  margin-bottom: 18px;
}
.services .services-container .col .services-content .services-text p {
  line-height: 2;
  color: var(--main-paragraph-color);
  font-size: 14px;
}
/* End Services section */
/* Start Features section */
.features {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  min-height: 600px;
  position: relative;
  background-image: url(../images/design-features.jpg);
  background-size: cover;
  display: flex;
  align-items: center;
  overflow: hidden;
}
.features::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 40%);
}
.features .image {
  text-align: center;
}
.features .image,
.features .text {
  position: relative;
  flex:1; 
}

.features .image img {
  position: relative;
  bottom: -150px;
}
.features .text {
  background-color: var(--transparent-color);
  padding: 40px;
  top: 10%;
  color: white;
}
@media (max-width: 767px) {
  .features {
    flex-direction: column;
  }
  .features .image {
    margin-bottom: 30px;
  }
  .features .image img {
    position: static;
  }
}
.features .text h2 {
  margin-bottom: 30px;
  text-transform: uppercase;
  font-weight: normal;
}
.features .text ul li {
  padding: 15px 0;
}
.features .text ul li::before {
  content: "\f108";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  margin-right: 20px;
  position: relative;
  top: 1px;
}
/* End Features section */