/* Start Variables */
:root {
  --main-color: orange;
}
/* End Variables */
/* Start Global rules */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  -webkit-scroll-behavior: smooth;
  -moz-scroll-behavior: smooth;
  scroll-behavior: smooth;
}
body {
  font-family: 'Open Sans', sans-serif;
  background-color: burlywood;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
/* Small Screen */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium Screen */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large Screen */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* End Global rules */
/* Start Header */
header {

}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .container .logo{
  height: 40px;
}
header  nav {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;

}
header .container  nav ul  {
  display: flex;
  
}
header .container  nav ul li a {
  display: block;
  color: white;
  font-size: 14px;
  padding: 40px 10px;
  text-transform: uppercase;
}
header .form {
  
}
/* End Header */